#page_content {
  width: 100vw;
  max-height: 100vh;
}

#transaction_window {
  margin: 32px auto 0 auto;
  max-width: 900px;
  background-color: #303030;
  padding: 16px;
  overflow: hidden;
  border-radius: 8px;
}

#transaction_window h3 {
  text-align: center;
}

#transaction_content {
  width: 100%;
  background-color: #282828;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
}

.payment_text {
  font-size: 1.2em;
}

.group_list {
  width: 100%;
  max-height: 40vh;
  background-color: #202020;
  overflow-y: auto;
}

.group_list li {
  padding: 10px;
  margin: 5px 10px;
}

.group_list li:hover {
  cursor: pointer;
}

.group_list li.selected {
  background-color: #689F38;
}