#groups {
  list-style: square;
}

#groups li {
  border-left: 2px solid;
  border-color: #666666;
  padding: 10px 10px;
  cursor: pointer;
}

#groups li:hover {
  background-color: #444444;
  border-left: 2px solid;
  border-color: green;
}

#menu {
  float: left;
<<<<<<< HEAD
  min-height: 100vh;
  /* min-width: 10vw; */
=======
  max-height: 100vh;
  min-width: 10vw;
>>>>>>> master
  padding: 20px;
}

.selected {
  background-color: #444444;
}
